.profileContainer {
    width : 100%;
    height : 60vh;
    margin : 10px 0 0 0;
    padding : 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContents {
    width : 100%;
    height : 100%;
    margin: 0;
    padding : 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
}

.pfBox {
    width : 100%;
    height : 75%;
    margin : 0;
    padding : 0;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.pfleft {
    width : 33%;
    height : 100%;
    margin : 0;
    padding : 20px 2px 10px 2px;
    display : flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.pfImg {
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
}

.pfright {
    width : 65%;
    height : 100%;
    margin : 0;
    padding : 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.categories {
    width : 100%;
    height : 30%;
    margin : 0;
    padding : 0;
    display : flex;
    flex-wrap: wrap;
}

.categories p:nth-child(1) {
    background-color: #4582EC;
}

.categories p:nth-child(2) {
    background-color: #ADB5BD;
}

.categories p:nth-child(3) {
    background-color: #01B875;
}

.categories p:nth-child(4) {
    background-color: #19A2B8;
}

.cgBox {
    width : 130px;
    height : 40px;
    border-radius: 5px;
    color : white;
    background-color: #3464b7;
    text-align: center;
    font-size: 12px;
    margin: 0 10px 0 0;
    padding : 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    width : 100%;
    height : 70%;
    margin : 0;
    padding : 0;
    display : flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #E9E9E9;
    border-bottom: none;
    border-radius: 4px;
}

.info p {
    width :100%;
    height: 25%;
    border-bottom : 1px solid #E9E9E9;
    margin : 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-weight: 100;
    box-sizing: border-box;
}

.pfBtn {
    width : 100%;
    height : 25%;
    margin : 0;
    margin-bottom: 20px;
    padding : 0;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.viewPf {
    width : 100%;
    height : 50px;
    background-color: #4582EC;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.viewPf a {
    width : 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

.viewPf:hover {
    cursor: pointer;
    background-color: #3464b7;
}

.profileImg {
    width : 100%;
    height : 100%;
    object-fit: fill;
}

.pfleft2 {
    width : 33%;
    height : 100%;
    margin : 0;
    padding : 0;
    display : flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.pfright2 {
    width : 65%;
    height : 100%;
    margin : 0;
    padding : 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.jandiBox {
    width : 100%;
    height : 100%;
    margin : 0;
    padding : 0;
}

.jandiBox img {
    width : 100%;
    height : 100%;
    object-fit: fill;
}