@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    margin : 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

img {
    max-width: 100%;
}